.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: -63px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 47px;
  bottom: -50%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.fa-trash {
  color: grey;
}

.close-btn__delete {
  display: flex;
  margin-left: auto;
  transform: rotate(45deg) scale(2);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: transparent;

  position: relative;
  right: -67px;
  z-index: 3;
  top: 25px;
}
